{% extends 'base.html.twig' %}

{% block title %}Account | User #{{ app.user.id }}{% endblock %}

{% block body %}
<h1>Account</h1>
{{ dump(app.user) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}