{% extends 'base.html.twig' %}

{% block title %}Mercure{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('account') }}" class="btn btn-success my-2">Account</a>
    <hr>
    {% for user in users %}
	    <form action="{{ path('ping', { user: user.id }) }}" method="post">
	        <button class="btn btn-primary my-2" type="submit">Ping User #{{ user.id }}</button>
	    </form>
    {% endfor %}
</div>
{% endblock %}