<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}bbbb!{% endblock %}</title>
        {% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
		{% block javascripts %}
			<script>
				const url = new URL('{{ MERCURE_EXTERNAL_URL }}');
				url.searchParams.append('topic', url + '/ping');

				const es = new EventSource(url, {withCredentials: true});

				es.onmessage = e => {
				    console.log(JSON.parse(e.data));
				};
			</script>
		    {{ encore_entry_script_tags('app') }}
		{% endblock %}
    </body>
</html>
